  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    width: 100%;
    padding: 50px;
    background-image: url(weathericons/background3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  img {
    width: 100%;
  }

  .wrapper {
    position: absolute;
    display: flex;
    width: 90%;
    height: 89%;
    border-radius: 3em;
    overflow: hidden;
    color: white;
  }

  .main {
    width: 100%;
    padding: 10px 40px;
    background: rgba(255,255,255,.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,.2);
    position: relative;
    padding-bottom: 50px;
  }

  .main nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .main nav .options {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .main nav .options button {
    color: white;
    border: none;
    background: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    text-transform: capitalize;
  }

  .main nav .options button.active {
    color: rgb(1,1,82);
  }

  .main nav .units button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    border: 0px solid white;
    background-color: rgba(255,255,255, .05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
  }

  .main nav .units button.active {
    color: rgb(1, 1, 82);
    border: 0px solid white;
    background-color:rgba(249, 249, 249, 0.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
  }

  .main .cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 25px;
  }

  .cards .card {
    width: 100px;
    height: 150px;
    text-align: center;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .card h2 {
    font-size: 15px;
    font-weight: 600;
  }

  .card .card-icon {
    width: 50%;
    margin: 0 auto;
  }

  .card .day-temp {
    font-size: 12px;
    display: flex;
    justify-content: center;
    display: flex;
  }

  .highlights {
    display: flex;
    height: 90%;
    flex-wrap: wrap;
    gap:6px;
  }

  .highlights .heading {
    margin: 0 auto;
    font-size: 25px;
    font-weight: 300;
    text-transform: capitalize;
    padding-bottom: 0.6em;
  }

  .card2 {
    width: 250px;
    height: 140px;
    border-radius: 20px;
    border: 0px solid white;
    background-color: rgba(255,255,255, .05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
    padding: 10px 20px 0 20px;
    display: flex;
    flex-direction: column;
  }

  .card2 .card-heading {
    color: #c2c2c2;
  }

  .card2 .content {
    margin-top: 20px;
  }

  .card2 .content p:first-child {
    text-align: center;
    font-size: 30px;
  }

  .card2 .content p:nth-child(2) {
    font-size: 12px;
    margin-top: 20px;
    text-align: left;
  }

.compass-container {
  position: relative;
  width: 100px; 
  height: 100px; 
  margin: auto; 
  margin-top: -0.9em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('compass-background.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 25px solid red;
  position: absolute;
  top: calc(50% - 25px); 
  left: 50%;
  transform-origin: bottom center;
}

.arrow.rotate-45 {
  transform: translateX(-50%) rotate(115deg); 
}
.weather-navigation {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.dot {
    height: 10px;
    width: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.dot.active {
    background-color: white;
}

.dot:hover {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}